# bd worktree
.worktrees/bvis-o3t/
# bd worktree
.worktrees/bvis-o3t.1/
# bd worktree
.worktrees/bvis-o3t.3/
# bd worktree
.worktrees/bvis-o3t.2/
# bd worktree
.worktrees/bvis-o3t.4/
# bd worktree
.worktrees/bvis-o3t.5/
# bd worktree
.worktrees/bvis-o3t.6/
node_modules/
dist/
*.log
